@charset "utf-8";

.container{
    width:1202px;
    margin:0 auto;
}

.top {
    height:30px;
    font-size:12px;
    line-height:30px;
    color:#666;
}

.login,.register{
    display: inline-block;
    padding-left:14px;
    color:#555;
}

.login:hover,.register:hover{
    text-decoration: underline;
}

.topRight {
    padding-left:642px;
    color:#555;
}

ul {
    list-style: none outside none;
}

.topRight ul li{
    padding-right:16px;
    display: inline-block;
}


.topRight ul li s{
    width:18px;
    height:18px;
    vertical-align: middle;
}

.search {
    height:140px;
    background:#fff;
}

.searchLeft{
    padding: 10px 0;
}

.topRight li {
    position: relative;
    float: left;
    padding: 0 8px;
}

.list {
    position: absolute;
    top: 30px;
    left: 0;
    display:none;
    width: 100%;
    border: 1px solid #f0f0f0;
    background: #fff;
    z-index: 2;
}




